@model RentCar.Inspections

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Inspections</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.VehicleID, "VehicleID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VehicleID", String.Empty)
                @Html.ValidationMessageFor(model => model.VehicleID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientID, "ClientID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientID", String.Empty)
                @Html.ValidationMessageFor(model => model.ClientID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HaveScratches, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HaveScratches)
                @Html.ValidationMessageFor(model => model.HaveScratches)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FuelAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FuelAmount)
                @Html.ValidationMessageFor(model => model.FuelAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HasSpareTire, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HasSpareTire)
                @Html.ValidationMessageFor(model => model.HasSpareTire)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HasJack, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HasJack)
                @Html.ValidationMessageFor(model => model.HasJack)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HaveBrokenGlass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HaveBrokenGlass)
                @Html.ValidationMessageFor(model => model.HaveBrokenGlass)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, "EmployeeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeID", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TiresSate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TiresSate)
                @Html.ValidationMessageFor(model => model.TiresSate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
