@model RentCar.Vehicles

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vehicles</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChassisNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChassisNumber)
                @Html.ValidationMessageFor(model => model.ChassisNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EngineNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EngineNumber)
                @Html.ValidationMessageFor(model => model.EngineNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlateNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlateNumber)
                @Html.ValidationMessageFor(model => model.PlateNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VehicleTypeID, "VehicleTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VehicleTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.VehicleTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrandID)
                @Html.ValidationMessageFor(model => model.BrandID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModelID, "ModelID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModelID", String.Empty)
                @Html.ValidationMessageFor(model => model.ModelID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FuelTypeID, "FuelTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FuelTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.FuelTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
